.nav__shedule {
	width: 400px;
	height: 30px;
	display: flex;
	justify-content: space-around;
}
.btn__navShedule {
	width: 30%;
}
.search {
	border: 1px solid #000000;
	width: 335px;
	padding: 5px;
}
.search__block {
	margin-top: 15px;
	margin-left: 2%;
}
.btn__search {
	width: 50px;
	border: 1px solid black;
	padding: 5px;
}
li {
	margin-left: 5px;
}
.transport__route {
  width: 390px;
  margin-top: 5px;
  margin-left: 3px;
  height: 425px;
  overflow-y:scroll;
}
.btn__routeNum {
	width: 50px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.8;
	text-align: center;
	padding: 0;
	background-color:#dc3131;
}
.text__routeName {
  width: 300px;
	font-size: 17px;
	margin-left: 5px;
}